.carousel {
    position: relative;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel button:first-child {
    left: 10px;
}

.carousel button:last-child {
    right: 10px;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}