.dropbtn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;

    background-color: #FF6060;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.dropdownContent {
    position: relative;
    z-index: -1;
    width: 100%;
    min-width: 160px;
    max-height: 0;
    overflow: hidden;
    transform: translateY(-10px);
    border-radius: 0 0 8px 8px;

    transition: max-height 0.3s ease-out;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #F6F6F6;
    text-align: left;
}

.active {
    max-height: 300px;

    @media (max-width: 768px) {
        max-height: 500px;
    }
}

.dropContainer {
    padding: 20px;
    >p {
        margin: 0;
        color: #FF6060;
    }
}

.arrow {
    transition: transform 0.3s;
}

.activeArrow {
    transform: rotate(-180deg);
    transition: transform 0.3s;
}

.droplist {
    padding-bottom: 5px;
}