.carousel {
    margin: 50px 0 20px 0;
}

.description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    >* {
        width: calc(50% - 10px);
        margin-bottom: 20px;


    }

    > :last-child {

        width: 100%;
        margin-right: 0;
    }
}



.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.details {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

.tagBubble {
    background-color: #ffefd5;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    color: #555;
    white-space: nowrap;
}

#dropdownDetails {
    .dropdownContent {
        height: 400px;
    }
}



.title {
    text-align: left;
    color: #FF6060;

    >h1 {
        margin: 0;
        font-weight: 500;
    }
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    width: 100px;
    text-align: right;


    >img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

.tagBubble {
    width: 170px;
    font-size: 15px;
    background-color: #FF6060;
    color: #fff;
}

.rates {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 200px;

    >span {
        font-size: 30px;
    }
}