.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ;
}

.navLink {
  text-decoration: none;
  color: #FF6060;
  margin-left: 20px;
  font-size: 24px;

  &.active {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .logo{
    width: 146px;
    height: 47px;
  }

  .navLink {
    margin-left: 5px;
    font-size: 12px;
  }
}