.slogan {
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

// .slogan_text {
//   position: relative;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

.paysage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F6F6F6;
  border-radius: 25px;
  padding: 20px;
  margin-top: 43px;
}

.logementCard {
  width: 340px; // Trois cartes par ligne
  min-width: 300px;
  margin: 15px;
  border-radius: 8px;
  overflow: hidden;
}

.imageText {
  position: relative;
  width: 100%;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.titleOverlay {
  position: absolute;
  bottom: 5px;
  color: white;
  width: 100%;
  max-height: 40%;
  overflow: hidden;
  text-align: left;

  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 60%, transparent);
  padding: 10px;
}